# == CREDENTIALS ==
## AWS
aws_region               = "us-east-1" #us-east-1
aws_access_key_id = ""
aws_secret_access_key = ""
aws_session_token = ""
## SCALEWAY
scaleway_access_key      = ""
scaleway_secret_key      = ""
scaleway_organization_id = ""
scaleway_region          = ""
scaleway_project_id = ""
## CLOUDFLARE
cloudflare_api_token     =  ""
cloudflare_zone_id       =  ""

# == SETTINGS ==
scaleway_bucket_initial_name    = "bucket-pa-esgi"
scaleway_num_buckets            = 1
scaleway_bucket_name            = "pa-esgi-2023-b1"

# SSH Keys allowed in EC2s. First one will be added by default to all EC2s, other ones are added manually in the authorized_keys file
ssh_public_keys = [
    "ssh-rsa AAAAAAAAA",
    "ssh-rsa AAAAAAAAAZ",
]
sg_egress_protocol       = "-1"
from_port_ingress        = "22"
to_port_ingress          = "22"
protocol_ingress         = "tcp"
cidr_blocks_ingress      = ["0.0.0.0/0"]
ipv6_cidr_blocks_ingress = []
prefix_list_ids_ingress  = []
security_groups_ingress  = []
self_ingress             = false
from_port_egress         = "0"
to_port_egress           = "0"
cidr_blocks_egress       = ["0.0.0.0/0"]
self_egress              = false
ipv6_cidr_blocks_egress  = []
prefix_list_ids_egress   = []
security_groups_egress   = []
sg_name                  = "security-group-pa-1"
ami_id                   = "ami-0574da719dca65348"
ec2_instance_type        = "t2.medium"
ec2_name                 = "test-vm"
bucket_name              = "pa-esgi-2023-b1"
mount_point              = "/mnt/bucket"
vpc_cidr_block           = ""
vpc_subnet_cidr_block    = ""
vpc_instance_tenancy     = "default"

sns_phone_number         = "+33xxxxxxxxx"
sns_email_address        = "xx@xx.fr"

ec2-config = {
  "vm-dolibarr" = {
      ports  = [
      {
        from = 443
        to = 443
        source="0.0.0.0/0"
      },
      {
        from = 80
        to = 80
        source="0.0.0.0/0"
      },
        {
        from = 22
        to = 22
        source="0.0.0.0/0"
      }
    ]
  },
  "vm-nextcloud" = {
    ports = [       
      {
        from = 443
        to = 443
        source="0.0.0.0/0"
      },
      {
        from = 80
        to = 80
        source="0.0.0.0/0"
      },
        {
        from = 22
        to = 22
        source="0.0.0.0/0"
      }
    ]
  }
} 