---
plugin: amazon.aws.aws_ec2
regions:
  - us-east-1
aws_access_key: xxxxxxxxxxxxxxxxxxxxxxxx
aws_secret_key: xxxx/xx/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
aws_security_token: xxxxxxxx
compose:
  ansible_host: public_dns_name
keyed_groups:
  - key: tags
    prefix: tag