MYSQL_HOST: xx
MYSQL_PORT: 4733
MYSQL_DATABASE: xx
MYSQL_USER: xx
MYSQL_PASSWORD: xx
domain_name: crm.transexpress.ovh
acme_install_dir: /etc/acme.sh
acme_email: xx@xxx.xx
dolibarr_install_dir: /srv/dolibarr